// Import Vuetify styling
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700')
@import '~vuetify/src/stylus/main'

$theme := {
   primary: $deep-orange,
   secondary: '#1abc9c',
   accent: '#2980b9',
   error: '#e74c3c',
   action: '#23DB2A'
}
