
/* Rotate icon on active song list */
.playerSong {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* Flip cover album image */
.albumCover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* Define star highlight size */
.highlight > span{
  height: 28px;
  width: 28px;
}
