
/* Navigation color and fonts */
.navigation-font{
  font: 16px 'Open Sans Semibold'
}
.v-navigation-drawer > .v-list .v-list__tile--active .v-list__tile__title{
  color: darkorange !important;
}
.navigation-color{
  color: darkorange;
}
