/*
  Globals
*/
@import 'menu';
@import 'content';
@import 'topbar';
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* Makes page disappear immediately */
.page-enter,
.page-leave-active {
  opacity: 0;
}

/* eases in a bit smoother */
.page-enter-active {
  transition: opacity .3s ease-in;
}

/* Font and Size Titles/Subtitles/Texts */
.title-1{
  font: 36px 'Open Sans Extrabold';
}
.title-2{
  font: 36px 'Open Sans';
  line-height: 49px;
}
.text-1{
  font: 16px 'Open Sans';
  line-height: 24px;
}
.box-section-title{
  font: 18px 'Open Sans Semibold';
  line-height: 27px;
}
.box-title{
  font: 16px 'Open Sans Semibold';
  line-height: 19.5px;
}
.box-title-2{
  font: 16px 'Open Sans Semibold';
  line-height: 24px;
}
.box-subtitle{
  font: 14px 'Open Sans';
  line-height: 23.8px;
}
.box-subtitle-2{
  font: 14px 'Open Sans';
  line-height: 19.5px;
}
/* Navigation color and fonts */
.navigation-font{
  font: 16px 'Open Sans Semibold'
}
.v-navigation-drawer > .v-list .v-list__tile--active .v-list__tile__title{
  color: darkorange !important;
}
.navigation-color{
  color: darkorange;
}

/* Music Navigation component */
.song-title{
  font: 13px 'Open Sans Semibold';
  line-height: 19.5px;
}
.song-text{
  font: 13px 'Open Sans';
  line-height: 19.5px;
}
/* Rotate icon on active song list */
.playerSong {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* Flip cover album image */
.albumCover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
